@page
@model LoginModel

@{ ViewData["Title"] = "Log in"; }


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <br />
                <h3 class="text-light">Giriş Yap</h3>
                <hr class="alert-light" />
                <div asp-validation-summary="All" class="text-light"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="text-light"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-light"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="text-light"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-light"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="text-light">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                  
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Giriş Yap</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Şifreni mi unuttun?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Hesabın yoksa kayıt ol</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">e-posta onayını yeniden gönder</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-3 col-md-offset-2">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
