@model FilmLovers.Models.Roportaj

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h5>Oluştur</h5>
<br />

<h4>Roportaj</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Konu" class="control-label"></label>
                <input asp-for="Konu" class="form-control" />
                <span asp-validation-for="Konu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input asp-for="Resim" class="form-control" />
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Konusmaci" class="control-label"></label>
                <input asp-for="Konusmaci" class="form-control" />
                <span asp-validation-for="Konusmaci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YazarId" class="control-label"></label>
                <select asp-for="YazarId" class="form-control" asp-items="ViewBag.YazarId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Yazi" class="control-label"></label>
                <input asp-for="Yazi" class="form-control" />
                <span asp-validation-for="Yazi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

