
@{
    ViewData["Title"] = "Index";
}
<section class="signup spad">
    <div class="container">
        <div class="row">
  
            <div class="col-lg-4">
                <div class="login__form">
                    <h3>Üye Ol</h3>
                    <form action="#">
                        <div class="input__item">
                            <input type="text" placeholder="Ad">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="Soyad">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="Kullanıcı Adı">
                            <span class="icon_profile"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="Mail Adresi">
                            <span class="icon_mail"></span>
                        </div>

                        <div class="input__item">
                            <input type="text" placeholder="Şifre">
                            <span class="icon_lock"></span>
                        </div>
                        <div class="input__item">
                            <input type="text" placeholder="Şifre Tekrar">
                            <span class="icon_lock"></span>
                        </div>
                        <button type="submit" class="site-btn">Login Now</button>
                    </form>
                    <h5>Hesabın Var mı? Giriş Yap! <a asp-controller="GirisSayfasi">Giriş</a></h5>
                </div>
            </div>

        </div>
    </div>
</section>
