@model FilmLovers.Models.Film

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h5>Düzenle</h5>
<br />

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FilmAd" class="control-label">Ad</label>
                <input asp-for="FilmAd" class="form-control" />
                <span asp-validation-for="FilmAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yil" class="control-label">Yıl</label>
                <input asp-for="Yil" class="form-control" />
                <span asp-validation-for="Yil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uzunluk" class="control-label">Uzunluk</label>
                <input asp-for="Uzunluk" class="form-control" />
                <span asp-validation-for="Uzunluk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IMDB_Puan" class="control-label">IMDB Puanı</label>
                <input asp-for="IMDB_Puan" class="form-control" />
                <span asp-validation-for="IMDB_Puan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oyuncular" class="control-label">Oyuncular</label>
                <input asp-for="Oyuncular" class="form-control" />
                <span asp-validation-for="Oyuncular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afis" class="control-label">Afiş</label>
                <input asp-for="Afis" class="form-control" />
                <span asp-validation-for="Afis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dil" class="control-label">Dil</label>
                <input asp-for="Dil" class="form-control" />
                <span asp-validation-for="Dil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GosterimBaslangıc" class="control-label">Gösterim Başlangıç Tarihi</label>
                <input asp-for="GosterimBaslangıc" class="form-control" />
                <span asp-validation-for="GosterimBaslangıc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GosterimBitis" class="control-label">Gösterim Bitiş Tarihi</label>
                <input asp-for="GosterimBitis" class="form-control" />
                <span asp-validation-for="GosterimBitis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Konu" class="control-label">Konu</label>
                <input asp-for="Konu" class="form-control" />
                <span asp-validation-for="Konu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategori" class="control-label">Kategori</label>
                <select asp-for="KategoriId" class="form-control" asp-items="ViewBag.KategoriId"></select>
                <span asp-validation-for="KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
